nav{
    background-color: darkgrey;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 30px;
    border-radius: 10px;
    margin: auto;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  }
  nav ul{
    list-style-type: none;
    overflow: auto;
    padding-left: 0;
    margin: auto;
    
  }
  
  nav ul li a{
    float: right;
    margin-right: 0.5%;
    text-decoration: none;
    border: 2px solid grey;
    background: grey;
    padding: 5px;
    border-radius: 5px;
    color: whitesmoke;
    text-transform: uppercase;
    text-align: center;
    font-size: x-large;
    
    
  }

nav ul li a:hover{
    background: whitesmoke;
    text-shadow: 2px 2px 5px yellow;
    box-shadow: 4px 4px 0 rgba(0,0,0,.2);
    transition: all 1s ease 0s;
    border-radius: 20px;
    color: #4b4c4d;
    
}   

#Main{
    width: 100%;
    flex: 1; /* Makes the content area expand to fill space above the footer */
    margin: 0;
    padding-left: 50px;
    padding-bottom: 50px;
    
}


#intro{
    font-size: x-large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-left: 10%;
    background-color: bisque;
    box-shadow: 4px 4px 0 rgba(0,0,0,.2);
    border-radius: 20px
}
#logo{
    margin: auto;
    max-width: 15%;
    border-radius: 10px;
    float: left;
    padding: auto;
    
    object-fit: fill;
    
}

#logo:hover{
    transition: all 1s ease 0.3s;
    animation-duration: 2s;
    max-width: 20%;
   
}

#appointment{
    padding-top: 1px;
    width: 30%;
    text-align: center;
    font-size: x-large;
    font-family: cursive;
    box-shadow: 0px 0px 10px #78363626;
    border-radius: 30px;
    overflow: auto;
    background-color: bisque;
    justify-content: space-between; /* Adjust spacing between the elements */
    gap: 10px; /* Optional: space between the elements */
    float: left;
    
}

#appointment:hover{
    
  background-color: burlywood;
    
}
#Gallery{
    padding-top: 1px;
    width: 30%;
    text-align: center;
    font-size: x-large;
    font-family: cursive;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    border-radius: 30px;
    background-color: bisque;
    justify-content: space-between; /* Adjust spacing between the elements */
    gap: 10px; /* Optional: space between the elements */
    float: left;
    
}
#Gallery:hover{
    
  background-color: burlywood;
    
}

#Me{
    padding-top: 1px;
    width: 33%;
    text-align: center;
    font-size: x-large;
    font-family: cursive;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    border-radius: 30px;
    background-color: bisque;
    justify-content: space-between; /* Adjust spacing between the elements */
    gap: 10px; /* Optional: space between the elements */
    float: left;
    
}

#Me:hover{
    
  background-color: burlywood;
    
}
.video-container {
    text-align: center;
    position: relative;
    width:90%;
    height: 500px;
    padding: auto;
    margin: 20px;
    overflow: hidden;
   
    cursor: pointer;
    transition: box-shadow 0.3s ease-in-out;
}


.video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    
    transition: opacity 0.3s, transform 0.5s;
    transform: scale(1);

}

.video-container2 {
    text-align: center;
    position: relative;
    width:90%;
    height: 500px;
   
    margin: 20px;
    overflow: hidden;
   
    cursor: pointer;
    transition: box-shadow 0.3s ease-in-out;
}


.video2 {
    width: 100%;
    height: 100%;
    object-fit: cover;
    
    transition: opacity 0.3s, transform 0.5s;
    transform: scale(1);
    
}

.video-container3 {
    text-align: center;
    position: relative;
    width:90%;
    height: 500px;
    padding: auto;
    margin: 20px;
    overflow: hidden;
   
    cursor: pointer;
    transition: box-shadow 0.3s ease-in-out;
}


.video3 {
    width: 100%;
    height: 100%;
    object-fit: cover;
   
    transition: opacity 0.3s, transform 0.5s;
    transform: scale(1);
    
    
}


.video-container:hover {
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.6);
}

.video-container:hover .video {
    opacity: 1;
    transform: scale(1.15);
}


.video-container2:hover {
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.6);
}

.video-container2:hover .video2 {
    opacity: 1;
    transform: scale(1.15);
}

.video-container3:hover {
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.6);
}

.video-container3:hover .video3 {
    opacity: 1;
    transform: scale(1.15);
}

footer{
    
    float: right;
    border-radius: 20px;
    background-color: #aaa;
    width: 100%;
}
.footer-basic {
    padding:40px 0;
    
    color:#4b4c4d;
  }
  
  .footer-basic ul {
    padding:0;
    list-style:none;
    text-align:center;
    font-size:18px;
    line-height:1.6;
    margin-bottom:0;
  }
  
  .footer-basic li {
    padding:0 10px;
    
  }
  
  .footer-basic ul a {
    color:inherit;
    text-decoration:none;
    opacity:0.8;
  }
  
  .footer-basic ul a:hover {
    opacity:1;
  }
  
  .footer-basic .social {
    text-align:center;
    padding-bottom:25px;
  }
  
  .footer-basic .social > a {
    font-size:24px;
    width:40px;
    height:40px;
    line-height:40px;
    display:inline-block;
    text-align:center;
    border-radius:50%;
    border:1px solid #ccc;
    margin:0 8px;
    color:inherit;
    opacity:0.75;
  }
  
  .footer-basic .social > a:hover {
    opacity:0.9;
  }
  
  .footer-basic .copyright {
    margin-top:15px;
    text-align:center;
    font-size:13px;
    color:#aaa;
    
    margin-bottom:0;
  }

  html {
    --s: 140px; /* control the size */
    --c1:#aaa;
    --c2: #4b4c4d;
    
    --_g: 
      #0000 25%,#0008 47%,var(--c1)  53% 147%,var(--c2) 153% 247%,
      var(--c1) 253% 347%,var(--c2) 353% 447%,var(--c1) 453% 547%,#0008 553%,#0000 575%;
    --_s: calc(25%/3) calc(25%/4) at 50%; 
    background:
      radial-gradient(var(--_s) 100%,var(--_g)),
      radial-gradient(var(--_s) 100%,var(--_g)) calc(var(--s)/2) calc(3*var(--s)/4),
      radial-gradient(var(--_s) 0   ,var(--_g)) calc(var(--s)/2) 0,
      radial-gradient(var(--_s) 0   ,var(--_g)) 0                calc(3*var(--s)/4),
      repeating-linear-gradient(90deg,aliceblue calc(25%/-6) calc(25%/6),antiquewhite 0 calc(25%/2));
    background-size: var(--s) calc(3*var(--s)/2);
    animation: m 2.5s infinite linear;
  } 
  
  @keyframes m {
    to {
      background-position:
        var(--s) 0,
        calc(var(--s)/-2) calc(3*var(--s)/4),
        calc(3*var(--s)/2) 0,
        calc(-1*var(--s)) calc(3*var(--s)/4),
        0 0
    }
  }